<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kai.ganki">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegistActivity"
            android:label="注册" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="登录" />
        <activity
            android:name=".activity.TreeActivity"
            android:label="结构" />
        <activity
            android:name=".activity.TreeChildrenActivity"
            android:label="子结构" />
        <activity
            android:name=".activity.ArticleDetailActivity"
            android:label="文章详情" />
    </application>

</manifest>